XMLSchema/Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Request" nillable="true" type="Request" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArgsJson" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>