XMLXSDValidator/ReturnBorrowResponseRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="ReturnBorrowResponseRequest" nillable="true" type="ReturnBorrowResponseRequest" />
  <xs:complexType name="ReturnBorrowResponseRequest">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="BookId" xmlns:q1="http://microsoft.com/wsdl/types/" type="q1:guid" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>